<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289568467867-pkgjdg3v5ffvifsebq0d2475s6mbeksv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289568467867-pkgjdg3v5ffvifsebq0d2475s6mbeksv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>289568467867-55s9f3p9gc7594e46mqqfap8tt5p4dd8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk5Ovc_2tTEdkewBmdfSUqO3IiASs9Piw</string>
	<key>GCM_SENDER_ID</key>
	<string>289568467867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meyaa</string>
	<key>PROJECT_ID</key>
	<string>meyaa-gp-57e82</string>
	<key>STORAGE_BUCKET</key>
	<string>meyaa-gp-57e82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289568467867:ios:07e74766d0f0ce372e0f3e</string>
	<key>DATABASE_URL</key>
	<string>https://meyaa-gp-57e82-default-rtdb.firebaseio.com</string>
</dict>
</plist>